:root {
    --primary-color: #be2cab;
    --text-color: #333;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  #particles-js{
    height: 100vh;
  }  

  /* CUSTOM SCROLL BAR */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #d3d3d3;
  }  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(104, 104, 104);
  }
  /* ----------------------------- */
  
  body {
    overflow: hidden;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  #particles-js{
    position: relative;
    background-color: #824d83;
  }
  #wp-player{
    position:absolute;
    top: 50%;
    left: 50%;
    min-width: 900px;
    transform:translateY( -50% ) translateX( -50% );
  }

  .player {    
    display: flex;
    justify-content: center;
    
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
  }
  
  /* HEADER */
  header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 12px;
  }
  
  header h2 {
    color: var(--text-color);
    font-size: 20px;
  }
  
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
    border: 1px solid var(--primary-color);
    padding: 4px;
    background: var(--primary-color);
    border-radius: 50%;
  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover !important;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
  }
  
  .control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }
  
  .progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
    /* margin-top: 408px; */
    width: 400px;
    height: 430px;
    overflow-y: scroll;   
    padding: 4px 12px;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 4px 3px 0px rgb(189 88 191);
    transition:  0.4s;
  }
  
  .song.active {
    background-color: var(--primary-color);   
  }

  .song:hover{
    transform: scale(1.03);
    transition: 0.3s;
    /* background-color: rgb(253 178 255); */
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;
  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover !important;
    margin: 0 8px;
  }
  
  .song .body {
    flex: 1;
    padding: 0 16px;
  }
  
  .song .title {
    font-size: 18px;
    color: var(--text-color);
  }
  
  .song .author {
    font-size: 12px;
    color: rgb(36, 36, 36);;
  }
  
  .song .option {
    padding: 16px 8px;
    color: rgb(36, 36, 36);
    font-size: 18px;
  }

  .song:last-child{
    margin-bottom: 0;
  }
  
